<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Ingresa tu email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Ingresa tu contraseña" />
    </mat-form-field>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Iniciar Sesión
    </button>
    </form>
</div>
