<div class="dashboard-container">
    <h2>Bienvenido</h2>

    <p>Tu rol: <strong>{{ userRole }}</strong></p>

    <div class="dashboard-actions">
      <a mat-raised-button color="accent" routerLink="/alumnos" *ngIf="userRole === 'profesor' || userRole === 'admin'">Alumnos</a>
      &nbsp;
      <a mat-raised-button color="accent" routerLink="/profesores" *ngIf="userRole === 'profesor' || userRole === 'admin'">Profesores</a>
      &nbsp;
      <a mat-raised-button color="accent" routerLink="/cursos" *ngIf="userRole === 'profesor' || userRole === 'admin' || userRole === 'estudiante'">Cursos</a>
      &nbsp;
      <a mat-raised-button color="accent" routerLink="/usuarios" *ngIf="userRole === 'admin'">Gestión de Usuarios</a>
    </div>

    <br>
    <button mat-raised-button color="warn" (click)="logout()">Cerrar Sesión</button>
</div>
